
body {background-color: black; 
    font-family: arial; 
    color: white}

h1{
    color:grey;
    font-family: verdana
}


#maincontainer {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px; /*rounded corner*/
    margin: auto; /*center horizontally*/
}

footer {
    text-align: center;
    /*make the footer stay at the bottom of the page*/
    position: absolute;
    bottom: 0;
    width: 100%;
}
#calculation_area{
    padding-left: 10%;
}

